<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Hypernets DashBoard - Draft!-</title>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="base/general.css">

        <link rel="stylesheet" href="base/bootstrap/css/bootstrap.min.css">

        <script src="base/bootstrap/js/jquery.slim.min.js"></script>
        <script src="base/bootstrap/js/popper.min.js"></script>
        <script src="base/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Inclusion : jquery --> 
        <script src="base/js/jquery-3.6.1.min.js"></script>

        <!-- Inclusion : footer --> 
        <script> 
            $(function(){
                $("#footer").load("base/footer.html"); 
            });
        </script> 

        <!-- Inclusion : system is up --> 
        <script> 
            $(function(){
                $("#systemUp").load("raw/system_up.html"); 
            });
        </script> 

        <!-- Inclusion : last meteo data --> 
        <script> 
            $(function(){
                $("#lastMeteo").load("raw/last_meteo.html");
            });
        </script> 

        <!-- Inclusion : site image + name --> 
        <script> 
            $(function(){
                $("#subTitle").load("custom/sub_title.html");
            });
        </script> 

        <!-- Inclusion : site image + name --> 
        <script> 
            $(function(){
                $("#carousel").load("custom/carousel.html");
            });
        </script> 

    </head>
    <body>

        <h1 class="logo-title">
            <img class="img-fluid" src="base/images/hypernets-logo.png" 
                                   alt="HYPERNETS logo" width=10%> Hypernets</h1> 

        <div id="subTitle"></div>

        <!-- Navbar Blue with white text -->
        <nav class="navbar navbar-expand-sm  navbar-dark navbar-custom">
            <ul class="navbar-nav navbar-custom">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Main</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="map.html">Map</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="browse.html">Browse...</a>
                </li>

                <!--
                    <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
            </ul>
        </nav>

        <div id="systemUp"></div>

        <div id="lastMeteo"></div>

        <div id="carousel"></div>

        <div id="footer"></div>

    </body>
</html>
